<h1>Twilios</h1>

<% if @count > 0 %>
  <h4>Total messages received: <%= @count %></h4>
  <br/>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Phone Number</th>
        <th>Message</th>
        <th>Date received</th>
      </tr>
    </thead>
    <tbody><% @twilios.each do |twilio| %>
      <tr>
        <td>
          <%= twilio.number %>
        </td>
        <td>
          <%= twilio.body %>
        </td>
        <td>
          <%= twilio.updated_at.strftime('%a, %d %b %Y %H:%M:%S') %>
        </td>
      </tr><% end %>
    </tbody>
  </table>
<% else %>
  <h4>It looks like we haven't received any messages yet.<br>Check again later...</h4>
<% end %>
